<nav fxLayoutAlign="center center">
  <div class="content" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title" role="button" tabindex="0" routerLink="main/events">NearU</span>
    <span fxFlex></span>
    @if (authService.user?.isAuthorized) {
      @if (authService.user?.role === 'admin') {
        <i class="fa-solid fa-crown admin flex items-center" matTooltip="Адміністратор"></i>
      }
      <button mat-flat-button [matMenuTriggerFor]="menu">
        {{ this.authService.user?.name }}
      </button>
    } @else if (!this.router.url.includes('auth')) {
      <div fxLayout="row" fxLayoutGap="10px">
        <button mat-stroked-button routerLink="/auth/register">Зареєструватись</button>
        <button mat-flat-button routerLink="/auth/login">Увійти</button>
      </div>
    }
  </div>
</nav>
@if (this.progressBarService.progressBarActive) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/main/my">
    <i class="menu-icon fa-solid fa-list"></i>Мої події
  </button>
  <button mat-menu-item routerLink="/main/profile">
    <i class="menu-icon fa-solid fa-gear"></i>Налаштування
  </button>
  @if(authService.user?.role === Role.ADMIN) {
    <button mat-menu-item routerLink="/main/admin">
      <i class="menu-icon fa-solid fa-lock"></i>Адміністрування
    </button>
  }
  <button mat-menu-item (click)="authService.logout()">
    <i class="menu-icon fa-solid fa-arrow-right-from-bracket"></i>Вийти
  </button>
</mat-menu>

