nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 800;
  padding: 0 20px;
}

.last-name {
  color: dodgerblue;
  font-weight: 800;
  margin-left: 3px;
}
