<nav fxLayout="row" fxLayoutAlign="center center">
  <div class="content" fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/main/events">
      <span class="logo">
          <span class="first-name">Near</span>
          <span class="last-name">U</span>
      </span>
    </a>
    <span fxFlex></span>
    @if (authService.user?.isAuthorized) {
      @if (authService.user.role === 'admin') {
        <div class="admin" fxLayoutAlign="cente center">
          Admin
        </div>
      }
      <p-menu #menu [model]="menuItems" [popup]="true"/>
      <button pButton class="profile" fxLayoutAlign="center center" (click)="menu.toggle($event)">
        {{ this.authService.user?.name?.[0] }}
      </button>
    } @else if (!this.router.url.includes('login') && !this.router.url.includes('register')) {
      <button class="login-btn" routerLink="/auth/login">Увійти</button>
    }
  </div>
</nav>

