@use '@angular/material' as mat;
@use '../../theme' as theme;

nav {
  height: 100%;
  width: 100%;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 800;
  background: rgb(61,255,255);
  background: linear-gradient(90deg, rgba(61,255,255,0.2) 0%, rgba(0,26,255,0.2) 100%);
}

.content {
  width: 60%;
}

.first-name {
  color: limegreen;
}

.last-name {
  color: #80B3FF;
  font-weight: 800;
  margin-left: 3px;
}

.logo:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: black;
  font-size: 20px;
  background: transparent;
  border: 2px solid lightgray;
  transition: background 0.3s ease, transform 0.2s ease;
}

.profile:hover {
  transform: scale(1.05);
}

.login-btn {
  width: 200px;
  height: 50px;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 0;
  cursor: pointer;
  background: limegreen;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.admin {
  background: orange;
  color: black;
  font-weight: bold;
  padding: 20px;
  height: 50px;
  border-radius: 10px;
  margin-right: 20px;
}

.menu-icon {
  margin-right: 8px;
}
