<div class="page">
  <div class="bg1"></div>
  <div class="bg2"></div>
  <span class="login-label">ВХІД</span>
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <input matInput type="email" placeholder="example@gmail.com" formControlName="email">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Пароль" formControlName="password">
    </mat-form-field>
    <a href="">Забули пароль?</a>
    <button mat-raised-button class="full-width" (click)="onSubmit()" [disabled]="form.invalid">Увійти</button>
    <button mat-button class="full-width" routerLink="/auth/register">Реєстрація</button>
    <button mat-button class="full-width" routerLink="/main/events">Продовжити без входу</button>
  </form>
</div>
