.page {
  padding-top: 0;
}

.bg1 {
  height: 500px;
  width: 100%;
  background: rgb(61,255,255);
  background: linear-gradient(90deg, rgba(61,255,255,0.2) 0%, rgba(0,26,255,0.2) 100%);
}

.bg2 {
  width: 100%;
  flex: 1;
}

.login-label {
  font-size: 70px;
  color: white;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10%;
  align-items: center;
  width: 400px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}


.login-rel {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
