.page {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.card-container {
  margin-top: 20px;
  row-gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.toolbar {
  width: 100%;
  height: 70px;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 999;
  background: rgb(61,255,255);
  background: linear-gradient(90deg, rgba(61,255,255,0.05) 0%, rgba(0,26,255,0.05) 100%);
  padding: 0 20px;
}

.new-event-btn {
  border-radius: 0;
  position: fixed;
  bottom: 80px;
  right: 40px;
  background: limegreen;
  border: none;
  width: 250px;
  height: 60px;
  color: white;
  font-size: 22px;
}


