<div class="page" fxLayoutAlign="center center" fxLayout="column">
  <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
    <button pButton label="Нова подія" class="new-event-btn"></button>
  </div>
  <div class="card-container" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap='20px' fxLayout.xs="column">
    <div fxFlex="1 1 30%" *ngFor="let num of numbers" class="card" fxLayout="column">
      <div class="card-header" fxLayoutAlign="space-between center">
        <span fxLayoutAlign="center center" fxLayoutGap="8px">
          <i class="event-indicator fa-solid fa-circle"></i>
          <span>online</span>
        </span>
        <i class="ticket fa-solid fa-tag" title="Обмежений доступ"></i>
      </div>
      <div class="card-content">
        <h1>Event name</h1>
        <p-divider />
        <div class="location-row" fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="20px">
          <i class="fa-solid fa-location-dot"></i>
          <h2>Location</h2>
        </div>
        <p-divider />
        <span class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet beatae doloremque eaque eligendi esse eveniet fugit, harum hic magnam maiores neque obcaecati odio officiis placeat porro sapiente temporibus voluptatum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur corporis dicta dolorem earum, facere illum ipsa maiores nam nemo optio porro quibusdam quisquam quod rem repudiandae sed soluta ut!</span>
      </div>
      <div class="card-footer" fxLayoutAlign="end center">
        <button pButton label="Деталі" class="detail-button"></button>
      </div>
    </div>
  </div>
</div>
