<div class="page">
  <ng-container *ngIf="events.length; else noEvents">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap='20px'
         fxLayout.xs="column">
      <app-event-card fxFlex="1 1" *ngFor="let event of events" fxLayout="column" (update)="getEvents()" [event]="event"></app-event-card>
    </div>
  </ng-container>
  @if (this.authService.user?.isAuthorized) {
    <button mat-fab extended="true" class="new-event-btn fixed!" routerLink="/main/new">
      <mat-icon>add</mat-icon>
      Нова подія
    </button>
  }
</div>

<ng-template #noEvents>
  <app-no-events></app-no-events>
</ng-template>
