<mat-card class="card" fxLayout="column">
  <mat-card-header class="card-header" fxLayoutAlign="space-between center">
    <span fxLayoutAlign="center center" fxLayoutGap="8px">
      <i class="event-indicator fa-solid fa-circle" [ngStyle]="{'color': getStatusColor()}"></i>
      <span> {{ eventStatus }} </span>
    </span>
    @if (event?.ticketRequired) {
      <i class="ticket fa-solid fa-tag" matTooltip="Обмежений доступ"></i>
    }
  </mat-card-header>
  <mat-card-content class="card-content">
    <h1> {{ event?.title }} </h1>
    <div class="location-row" fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="20px">
      <i class="fa-solid fa-location-dot"></i>
      <span class="location">{{ event?.location }}</span>
    </div>
    <span class="event-description" [innerHTML]="event?.description"></span>
  </mat-card-content>
  <mat-card-actions class="card-footer" [fxLayoutAlign]="event?.status === Status.INACTIVE ? 'space-between center' : 'end center'">
    <div fxLayout="row" fxLayoutGap="10px">
      <button mat-icon-button (click)="onCreateCalendarEvent()" matTooltip="Експорт події календаря">
        <mat-icon>download</mat-icon>
      </button>
      <button mat-icon-button (click)="onCreateCalendarEvent()" matTooltip="Додати до календаря">
        <mat-icon>event</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/main/details', event?._id]" matTooltip="Деталі">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
