<div class="card" fxLayout="column">
  <div class="card-header" fxLayoutAlign="space-between center">
        <span fxLayoutAlign="center center" fxLayoutGap="8px">
          <i class="event-indicator fa-solid fa-circle"></i>
          <span> {{ event?.status }} </span>
        </span>
    @if (event?.ticketRequired) {
      <i class="ticket fa-solid fa-tag" title="Обмежений доступ"></i>
    }
  </div>
  <div class="card-content">
    <h1> {{ event?.title }} </h1>
    <p-divider/>
    <div class="location-row" fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="20px">
      <i class="fa-solid fa-location-dot"></i>
      <h2>{{ event?.location }}</h2>
    </div>
    <p-divider/>
    <span class="event-description">{{ event?.description }}</span>
  </div>
  <div class="card-footer" fxLayoutAlign="space-between center">
    @if (event?.status === Status.INACTIVE) {
      <span class="rating">
      <i class="fa-solid fa-star"></i>
        {{ event?.rating }}
      </span>
    }
    <button pButton label="Деталі" [routerLink]="['/main/details', event?.id]" class="detail-button"></button>
  </div>
</div>
