.wrapper {
  margin: 20px;
  padding: 20px;
  width: 40%;
  min-width: 600px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

mat-checkbox {
  margin: 20px 0;
}

.new-label {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.submit-btn {
  margin-top: 20px;
}

.time-field {
  width: 100px;
}
