<div class="flex flex-col items-center justify-center">
  <form [formGroup]="EventForm">
    <mat-card>
      <mat-card-header>
        <div class="new-label flex justify-center">Нова подія</div>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-label>Назва події</mat-label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Назва події" formControlName="title">
        </mat-form-field>
        <mat-label>Опис події</mat-label>
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Опис" formControlName="description"></textarea>
        </mat-form-field>
        <mat-label>Дата та час</mat-label>
        <div class="date-row flex flex-row justify-between">
          <mat-form-field appearance="outline">
            <mat-label>Виберіть дату</mat-label>
            <input matInput [matDatepicker]="pickerStart" formControlName="startDate">
            <mat-hint>ДД/ММ/РРРР</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="time-field" appearance="outline">
            <mat-label>Час початку</mat-label>
            <input matInput type="text" formControlName="startTime">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Виберіть дату</mat-label>
            <input matInput [matDatepicker]="pickerEnd" formControlName="endDate">
            <mat-hint>ДД/ММ/РРРР</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="time-field" appearance="outline">
            <mat-label>Час завершення</mat-label>
            <input matInput type="text" formControlName="endTime">
          </mat-form-field>
        </div>
        <mat-checkbox formControlName="ticketRequired" #isFree>Участь безкоштовна</mat-checkbox>
        @if (!isFree.checked) {
          <mat-label>Умови участі</mat-label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Посилання чи вказівки" formControlName="ticketUrl">
          </mat-form-field>
        }
        <mat-label>Локація</mat-label>
        <app-map class="flex justify-center" (location)="onLocationChange($event)"></app-map>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="submit-btn" (click)="onSubmit()" [disabled]="EventForm.invalid">Створити
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
