mat-card {
  padding: 20px;
  margin: 20px;
  min-width: 800px;
}

mat-checkbox {
  margin: 20px 0;
}

.new-label {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.submit-btn {
  margin-top: 20px;
}

.time-field {
  width: 100px;
}

:host ::ng-deep .mat-button-toggle {
  width: 50%;
}
