.page {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.container {
  width: 70vw;
  min-width: 900px;
  height: auto;
  background: rgb(61,255,255);
  background: linear-gradient(90deg, rgba(61,255,255,0.05) 0%, rgba(0,26,255,0.05) 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}

.back-btn {
  font-size: 16px;
  cursor: pointer;
  background: transparent;
  color: limegreen;
  border: 2px solid limegreen;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 50px;
}

h1 {
  width: 100%;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}

.calendar {
  font-size: 20px;
}

.share-btn {
  border: 2px cornflowerblue solid;
  background: transparent;
  color: cornflowerblue;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
}

.prop-row {
  padding: 0 20px;
}
