.container {
  width: 70vw;
  min-width: 900px;
  height: 70%;
  margin-top: 60px;
  //background: rgb(61,255,255);
  //background: linear-gradient(90deg, rgba(61,255,255,0.05) 0%, rgba(0,26,255,0.05) 100%);
  //box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}

h1 {
  width: 100%;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}

.calendar {
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:host ::ng-deep .mat-mdc-card-header .mat-mdc-card-header-text {
  display: none;
}

mat-card-content {
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  min-height: 400px;

  h1 {
    margin: 0;
  }

  h2 {
    font-size: 20px;
  }
}

.prop-row {
  padding: 0 20px;
}

mat-divider {
  margin: 10px 0;
}

.discussion {
  width: 70vw;
  margin: 30px 0;

  h1 {
    font-size: 20px;
    margin: 0;
  }

  &-header {
    padding: 0 30px;
  }

  &-wrapper {
    gap: 15px;
    margin-bottom: 40px;
  }
}
