<div class="page" fxLayout="column" fxLayoutAlign="start center">
  <div class="container">
    <div class="prop-row" fxLayout="row" fxLayoutAlign="space-between center">
      <button (click)="goBack()" class="back-btn" fxLayout="row" fxLayoutAlign="center center"
              fxLayoutGap="10px">
        <i class="fa-solid fa-arrow-left"></i>
        <span class="back-btn-text">Назад</span>
      </button>
      <span class="calendar" fxLayoutAlign="center center" fxLayoutGap="10px">
        <i class="fa-regular fa-calendar"></i>
        <span> {{ event?.startDate | date:'yyyy-MM-dd HH:mm' }}</span>
        <span>-</span>
        <span> {{ event?.endDate | date:'yyyy-MM-dd HH:mm' }}</span>
      </span>
      <button (click)="onShareClick()" class="share-btn" fxLayoutAlign="center center" fxLayoutGap="10px">
        <i class="fa-solid fa-share"></i>
        <span>Поділитись</span>
      </button>
    </div>
    <mat-divider></mat-divider>
    <main>
      <div class="prop-row" fxLayoutAlign="start center">
        <h1>{{ event?.title }}</h1>
      </div>
      <mat-divider></mat-divider>
      <div class="prop-row" fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="20px">
        <i class="fa-solid fa-location-dot"></i>
        <h2>{{ event?.location }}</h2>
      </div>
      <div class="prop-row">
        <span [innerHTML]="event?.description"></span>
      </div>
      @if (event?.ticketRequired) {
        <mat-divider></mat-divider>
        <div class="prop-row" fxLayout="row" fxLayoutAlign="space-between center">
          <h2>Як прийняти участь?</h2>
          <h3>{{ event?.ticketUrl }}</h3>
        </div>
      }
      <mat-divider></mat-divider>
    </main>
    <div class="prop-row" fxLayout="row" fxLayoutAlign="end center">
      <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <i class="fa-solid fa-user"></i>
        <span> {{ event?.creator }}</span>
      </span>
    </div>
  </div>
</div>
