<div class="page">
  <mat-card class="container">
    <mat-card-header class="prop-row relative flex flex-row justify-between items-center">
      <button mat-fab extended="true" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Назад
      </button>
      <span class="calendar absolute" fxLayoutAlign="center center" fxLayoutGap="10px">
        <i class="fa-regular fa-calendar"></i>
        <span> {{ event?.startDate | date:'yyyy-MM-dd HH:mm' }}</span>
        <span>-</span>
        <span> {{ event?.endDate | date:'yyyy-MM-dd HH:mm' }}</span>
      </span>
      <button mat-fab extended="true" (click)="onShareClick()">
        <mat-icon>share</mat-icon>
        Поділитись
      </button>
    </mat-card-header>
    <mat-card-content class="flex flex-auto">
      <div class="prop-row" fxLayoutAlign="start center">
        <h1>{{ event?.title }}</h1>
      </div>
      <mat-divider></mat-divider>
      <div class="prop-row" fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="20px">
        <i class="fa-solid fa-location-dot"></i>
        <span>{{ event?.location }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="prop-row desc">
        <span [innerHTML]="event?.description"></span>
      </div>
      @if (event?.ticketRequired) {
        <mat-divider></mat-divider>
        <div class="prop-row" fxLayout="row" fxLayoutAlign="space-between center">
          <h2>Як прийняти участь?</h2>
          <h3>{{ event?.ticketUrl }}</h3>
        </div>
      }
    </mat-card-content>
    <mat-card-footer class="prop-row" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutGap="10px">
        <button mat-fab extended="true"
                (click)="downloadIcsEvent({ title: event.title, description: event.description, location: event.location, start: event.startDate, end: event.endDate})">
          <mat-icon>download</mat-icon>
          Файл події календаря
        </button>
        <button mat-fab extended="true" (click)="createCalendarEvent(event)">
          <mat-icon>event</mat-icon>
          Додати у Google Calendar
        </button>
      </div>
      <span fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>person</mat-icon>
        <span> {{ event?.creator }}</span>
      </span>
    </mat-card-footer>
  </mat-card>
  <app-reviews [event]="event"></app-reviews>
  <mat-card class="discussion flex flex-col gap-3">
    <div class="discussion-header flex flex-row items-center justify-between">
      <h1>Обговорення</h1>
      <button mat-mini-fab (click)="onDiscussionCreate()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
  @if (discussions()) {
    <div class="discussion-wrapper flex flex-col">
      @for (discussion of discussions(); track discussion) {
        <app-discussion-card [discussion]="discussion"></app-discussion-card>
      }
    </div>
  }
</div>
