.wrapper {
  width: 800px;
  height: 600px;
  box-sizing: border-box;
  padding: 20px;
}

.event-name {
  width: 60%;
}

.event-name-inp {
  width: 100%;
}

.date {
  width: calc(100% - 60% - 10px);
}

.date-inp {
  width: 100%;
}

:host ::ng-deep {
  .p-datepicker-group {
    td {
      font-size: 15px;
      width: 10px;
      height: 10px;
      padding: 0;
    }
  }
}

.checkbox-label {
  cursor: pointer;
  user-select: none;
}

.location-inp {
  width: 100%;
}

.elem-row {
  min-height: 44px;
}

.ticket-info {
  width: 70%;
}

.ticket-info-inp, .ticket-info-lbl {
  width: 100%;
}

.dialog-btn {
  border-radius: 0;
}
