<div class="page">
  <div class="card-container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
    <div class="my-label">МОЇ ПОДІЇ</div>
    <div class="event-row" *ngFor="let event of events" fxLayout="row" fxLayoutAlign="center start">
      <app-event-card class="card" [event]="event" (update)="getEvents()"></app-event-card>
    </div>
  </div>
  @if (this.authService.user?.isAuthorized) {
    <button mat-fab extended="true" class="new-event-btn fixed!" routerLink="/main/new">
      <mat-icon>add</mat-icon>
      Нова подія
    </button>
  }
</div>
