.page {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.event-row {
  width: 100%;
}

.card {
  width: 700px;
  height: 300px;
}

.my-label {
  font-size: 30px;
  margin-top: 50px;
}
